{% load static %}
<!DOCTYPE html>
<html>

<head>
    {%if title%}
    <title>Django Blog - {{ title }}</title>
    {% else %}
    <title>Django Blog</title>
    {% endif %}
    
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8" />
<meta name="keywords" content="donation connection, charity, donate, voluntary work, online shopping, voluntary, giving, poor people" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'home_page/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{% static 'home_page/css/style.css' %}" rel='stylesheet' type='text/css' />
<!-- js -->
<script src="{% static 'home_page/js/jquery-1.11.1.min.js' %}"></script>
<!-- //js -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'home_page/js/move-top.js' %} "></script>
<script type="text/javascript" src="{% static 'home_page/js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<link href="{% static 'home_page/css/font-awesome.css' %}" rel="stylesheet"> 
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>

</head>

<body>
    <div class="my-header">
        <div class="container" style="width: auto;">
            <div class="img-responsive my-card my-logo">
                <img src="{% static 'home_page/images/new_logo.png' %}">
                <h1><a href="{% url 'home-page' %}">Donation Connection</a></h1>
                <ul>
                    <li><a href="{% url 'home-page' %}"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}"><i class="fa fa-power-off" aria-hidden="true"></i>Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>        
    </div>
    <div class="contact">
        <div class="container">
            <div class="contact-w3">
                <div class="charity-profile col-md-4">
                    <img src="{{ charity.user.ProfileImage.url }}" class="img-responsive">
                    {% if user.is_authenticated %}
                        {% ifequal user.email charity.user.email %}
                        <button onclick="location.href='{% url 'newVoluntaryWork_page' %}'" class="my-button" type="button">Add Voluntary Work</button>
                        <br>
                        <button onclick="location.href='{% url 'newProduct_page' %}'" class="my-button" type="button">Add Product</button>
                            <br>
                        <button onclick="location.href='{% url 'charityEditPage' %}'" class="my-button" type="button">Edit Profile</button>
                        {% endifequal %}
                    {% endif %}
                </div>
                <div class="col-md-8 contact-left" style="padding-top: 3em;">
                    <h4>{{charity.user.fullName}}</h4>
                    <p>{{charity.user.description}}</p>
                    <ul class="contact-list">
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>{{charity.Address}}</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i>{{charity.user.email}}</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>{{charity.user.phoneNumber}}</li>
                    </ul>
                    <iframe src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=35.74149426,51.507740539489867&amp;q=iran%20university%20of%20science%20and%20technology+(IUST)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed" style="border:0;"><a href="https://www.maps.ie/coordinates.html"></a></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="container">
            <div class="spec ">
                <h3>Products</h3>
                <div class="ser-t">
                    <b></b>
                    <span><i></i></span>
                    <b class="line"></b>
                </div>
            </div>
            <div>
            {% if products %}
                <div class="container">
                    {% for product in products %}
                    <div class=" con-w3l agileinf">
                        <div class="col-md-3 pro-1">
                            <div class="col-m my-shadow">
                                <img src="{{ product.image.image.url }}" class="img-responsive" alt="{{ product.name }}">							
                                <div class="mid-4">
                                    <div class="women">
                                        <h6><a href="single.html">{{ product.name }}</a></h6>							
                                    </div>
                                    <div class="mid-3">
                                        <p><em class="item-description-1">${{ product.price }}</em></p>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="add">
                                        {% ifequal user.id charity.user.id %}
                                           <button onclick="location.href='{% url 'delete' PId=product.id%}' " class="btn btn-danger my-cart-btn my-cart-b" data-id="24" data-name="{{ product.name }}" data-price="{{ product.price }}" data-quantity="1" data-image="{{ product.image.image.url }}">Delete</button>
                                        {% else %}
                                            {% if user.is_authenticated %}
                                            <button onclick="location.href='{% url 'addCart' PId=product.id %}'" class="btn btn-danger my-cart-btn my-cart-b" data-id="24" data-name="{{ product.name }}" data-price="{{ product.price }}" data-quantity="1" data-image="{{ product.image.image.url }}">Add to Cart</button>
                                            {% endif %}
                                        {% endifequal %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
        </div>>
    </div>
    <div class="product">
        <div class="container">
            <div class="spec ">
                <h3>Voluntary Works</h3>
                <div class="ser-t">
                    <b></b>
                    <span><i></i></span>
                    <b class="line"></b>
                </div>
            </div>
            <div>
            {% if voluntaryWorks %}
                <div class="container">
                    {% for voluntaryWork in voluntaryWorks %}
                    <div class=" con-w3l agileinf">
                        <div class="col-md-4 pro-1">
                            <div class="col-m my-shadow">
                                <img src="{{ voluntaryWork.image.image.url }}" class="img-responsive" alt="{{ voluntaryWork.name }}">							
                                <div class="mid-4">
                                    <div class="women">
                                        <h6><a href="single.html">{{ voluntaryWork.name }}</a></h6>							
                                    </div>
                                    <div class="mid-3">
                                        <p><em class="item-description-2">{{ voluntaryWork.description }}</em></p>
                                        <div class="clearfix"></div>
                                    </div>
                                {% if voluntaryWork.volunteers is not None %}
                                    <div class="mid-3">
                                        <p><a href="{% url 'userProfileVW' userId=voluntaryWork.volunteers.id %}" class="item-description-2">{{ voluntaryWork.volunteers.user.username }}</a></p>
                                        <div class="clearfix"></div>
                                    </div>
                                {% endif %}
                                    <div class="add">
                                        {% ifequal user.id charity.user.id %}
                                            <button onclick="location.href='{% url 'deleteVW' VWId=voluntaryWork.id%}'" class="btn btn-danger my-cart-btn my-cart-b" data-id="24" data-name="{{ voluntaryWork.name }}">Delete</button>
                                        {% else %}
                                            {% if user.is_authenticated and voluntaryWork.volunteers is None %}
                                                 <button onclick="location.href='{% url 'singUpVW' VWId=voluntaryWork.id%}'" class="btn btn-danger my-cart-btn my-cart-b" data-id="24" data-name="{{ voluntaryWork.name }}">Sing up</button>
                                            {% endif %}
                                        {% endifequal %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
        </div>>
    </div>
    <div class="footer">
        <div class="container">
            <div class="col-md-3 footer-grid">
                <h3>About Us</h3>
                <p>This project is basically an online charity store. 
                    Children and people in need can give their handmade crafts 
                    to the nearest charity in their neighborhood so the charity 
                    can sell their products on the website.
                    Another part of our project is voluntary work</p>
            </div>
            <div class="col-md-3 footer-grid">
                <h3>Menu</h3>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li><a href="voluntary_works.html">Voluntary Works</a></li>
                    <li><a href="free_services.html">Free Services</a></li>						 
                    <li><a href="charities.html">Charities</a></li> 
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h3>My Account</h3>
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'Charity_profile_page' %}">Profile</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {%else%}
                        <li><a href="{% url 'user_login-page' %}">Login</a></li>
                        <li><a href="{% url 'user_register-page' %}">Register as user</a></li>
                        <li><a href="{% url 'charity_register-page' %}">Register as charity</a></li>
                        <li><a href="cart.html">Cart</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h3>Contact Us</h3>
                <ul>
                    <li><p>Tel: 09022228837</p></li>
                    <li><p>Email: onlinecharity@gmail.com</p></li>
                    <li><p>Address: Iran, Tehran, Narmak, Farjam Ave, IUST</p></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="copy-right">
                <p> &copy; 2019 Donation Connection. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> Team</a></p>
            </div>
        </div>
    </div>
</body>

