{% load static %}
<!DOCTYPE html>
<html>

<head>
    {%if title%}
    <title>Django Blog - {{ title }}</title>
    {% else %}
    <title>Django Blog</title>
    {% endif %}
    
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8" />
<meta name="keywords" content="donation connection, charity, donate, voluntary work, online shopping, voluntary, giving, poor people" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'home_page/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{% static 'home_page/css/style.css' %}" rel='stylesheet' type='text/css' />
<!-- js -->
<script src="{% static 'home_page/js/jquery-1.11.1.min.js' %}"></script>
<!-- //js -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'home_page/js/move-top.js' %} "></script>
<script type="text/javascript" src="{% static 'home_page/js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<link href="{% static 'home_page/css/font-awesome.css' %}" rel="stylesheet"> 
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>

</head>

<body>
	<div class="my-header">
		<div class="container" style="width: auto;">
			<div class="img-responsive my-card my-logo">
				<img src="{% static 'home_page/images/new_logo.png' %}">
				<h1><a href="{% url 'home-page' %}">Donation Connection</a></h1>
				<ul>
					<li><a href="{% url 'home-page' %}">Home</a></li>
					<li><a href="{% url 'Charity_profile_page' %}"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
				</ul>
			</div>
		</div>        
	</div>
	<div class="product" style="padding: 0.5em 0 0.6em;">
		<div class="spec ">
			<h3 style="background-image: url('{% static 'home_page/images/products-top.jpg' %}');background-position: center; padding:0.8em; margin-left: 0px; margin-right: 0px">New Product</h3>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="login">
		<div class="main-agileits">
			<div class="form-w3agile form1">
				<h3>New Product Work</h3>
					{% if error_message %}
						<p class="bg-danger p-d ml-b">{{ error_message }}</p>
					{% endif %}
				<form action="{% url 'addProduct' %}" method="post" enctype="multipart/form-data" >
					{% csrf_token %}
					<div class="key">
						<i class="fa fa-user" aria-hidden="true"></i>
						<input  type="text" value="ProductName" name="ProductName" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'ProductName';}" required="">
						<div class="clearfix"></div>
					</div>
					<div class="key">
						<i class="fa fa-money" aria-hidden="true"></i>
						<input  type="text" value="Price" name="Price" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Price';}" required="">
						<div class="clearfix"></div>
					</div>
					<div class="key">
						<i class="fa fa-info-circle" aria-hidden="true"></i>
						<input  type="text" value="Description" name="Description" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Description';}" required="">
						<div class="clearfix"></div>
					</div>
					<div class="key">
						<i class="fa fa-cubes" aria-hidden="true"></i>
						<input  type="text" value="Numbers" name="Numbers" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Numbers';}" required="">
						<div class="clearfix"></div>
					</div>
					<div calss="profImage">
						<label for="productImage">Uplaod product picture:</label>
						<input type="file" id="productImage" name="productImage" accept="image/png, image/jpeg">
					</div>
					<input style="margin-top: 2em;" type="submit" value="Submit">
				</form>
			</div>		
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="col-md-3 footer-grid">
				<h3>About Us</h3>
				<p>This project is basically an online charity store. 
					Children and people in need can give their handmade crafts 
					to the nearest charity in their neighborhood so the charity 
					can sell their products on the website.
					Another part of our project is voluntary work</p>
			</div>
			<div class="col-md-3 footer-grid">
				<h3>Menu</h3>
				<ul>
					<li><a href="home.html">Home</a></li>
					<li><a href="products.html">Products</a></li>
					<li><a href="voluntary_works.html">Voluntary Works</a></li>
					<li><a href="free_services.html">Free Services</a></li>						 
					<li><a href="charities.html">Charities</a></li> 
					<li><a href="contact.html">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-grid">
				<h3>My Account</h3>
				<ul>
					{% if user.is_authenticated %}
						<li><a href="{% url 'Charity_profile_page' %}">Profile</a></li>
						<li><a href="{% url 'logout' %}">Logout</a></li>
					{%else%}
						<li><a href="{% url 'user_login-page' %}">Login</a></li>
						<li><a href="{% url 'user_register-page' %}">Register as user</a></li>
						<li><a href="{% url 'charity_register-page' %}">Register as charity</a></li>
						<li><a href="cart.html">Cart</a></li>
					{% endif %}
				</ul>
			</div>
			<div class="col-md-3 footer-grid">
				<h3>Contact Us</h3>
				<ul>
					<li><p>Tel: 09022228837</p></li>
					<li><p>Email: onlinecharity@gmail.com</p></li>
					<li><p>Address: Iran, Tehran, Narmak, Farjam Ave, IUST</p></li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<div class="copy-right">
				<p> &copy; 2019 Donation Connection. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> Team</a></p>
			</div>
		</div>
	</div>
</body>