{% load static %}
<!DOCTYPE html>
<html>

<head>
    {%if title%}
    <title>Django Blog - {{ title }}</title>
    {% else %}
    <title>Django Blog</title>
    {% endif %}
    
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8" />
<meta name="keywords" content="donation connection, charity, donate, voluntary work, online shopping, voluntary, giving, poor people" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'home_page/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{% static 'home_page/css/style.css' %}" rel='stylesheet' type='text/css' />
<!-- js -->
<script src="{% static 'home_page/js/jquery-1.11.1.min.js' %}"></script>
<!-- //js -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'home_page/js/move-top.js' %} "></script>
<script type="text/javascript" src="{% static 'home_page/js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<link href="{% static 'home_page/css/font-awesome.css' %}" rel="stylesheet"> 
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>

</head>

<body>
    <div class="my-header">
        <div class="container" style="width: auto;">
            <div class="my-logo">
                <img src="{% static 'home_page/images/new_logo.png' %}">
                <h1><a href="{% url 'home-page' %}">Donation Connection</a></h1>
                <div class="clearfix"></div>    
            </div>
        </div>
    </div>
    <div class="my_line"></div>
    <div class="contact" style="padding-top: 2em;">
        <div class="container">
            <div class="contact-w3">
                <h2 style="text-align: center; margin-bottom: 1em;">Wait For It...</h2>
                <h2 style="text-align: center; margin-bottom: 1em;">:)</h2>
            </div>
        </div>
    </div>
</body>