{% load static %}
<!DOCTYPE html>
<html>

<head>
    {%if title%}
    <title>Django Blog - {{ title }}</title>
    {% else %}
    <title>Django Blog</title>
    {% endif %}
    
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8" />
<meta name="keywords" content="donation connection, charity, donate, voluntary work, online shopping, voluntary, giving, poor people" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'home_page/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{% static 'home_page/css/style.css' %}" rel='stylesheet' type='text/css' />
<!-- js -->
<script src="{% static 'home_page/js/jquery-1.11.1.min.js' %}"></script>
<!-- //js -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'home_page/js/move-top.js' %} "></script>
<script type="text/javascript" src="{% static 'home_page/js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<link href="{% static 'home_page/css/font-awesome.css' %}" rel="stylesheet"> 
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>

</head>

<body>
	<div>
		<div class="my-header">
			<div class="container" style="width: auto;">
				<div class="logo">
					<img src="{% static 'home_page/images/new_logo.png' %}">
					<h1><a href="{% url 'home-page' %}" style="color: #f1f1f1;">Donation Connection</a></h1>
				</div>
				<div class="nav-top" style="background: #2f2f2f;">
					<nav class="navbar navbar-default">
					<div>
						<ul class="nav navbar-nav">	
							<li ><a href="{% url 'products-page' %}" class="hyper" ><span>Products</span></a></li>
							<li ><a href="{% url 'voluntary_work-page' %}" class ="hyper" ><span>Voluntary Works</span></a></li>
							<li ><a href="{% url 'all-charity' %}" class="hyper" ><span>Charities</span></a></li>
							<li ><a href="{% url 'about' %}" class="hyper" ><span>Contact Us</span></a></li>
						</ul>
					</div>
					</nav>
					{% if user.is_authenticated %}
						{% if not user.Is_charity %}
						<div class="cart">
							<a href="cart.html"><span class="fa fa-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span></a>
						</div>
						{% endif %}
					{% endif %}
					<div class="head-t card my_login">
						<ul>
							{% if user.is_authenticated %}
								{% if user.Is_charity %}
									<li><a href="{% url 'Charity_profile_page' %}"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
								{% else %}
									<li><a href="{% url 'seeCart' %}"><i class="fa fa-user" aria-hidden="true"></i>Carts</a></li>
									<li><a href="{% url 'user-costomer-profile' %}"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
								{% endif %}
								<li><a href="{% url 'logout' %}"><i class="fa fa-power-off" aria-hidden="true"></i>Logout</a></li>
							{%else%}
							<li><a href="{% url 'user_login-page' %}"><i class="fa fa-user" aria-hidden="true"></i>Login</a></li>
							<li><a href="{% url 'user_register-page' %}"><i class="fa fa-user-plus" aria-hidden="true"></i>Customer Register</a></li>
							<li><a href="{% url 'charity_register-page' %}"><i class="fa fa-user-plus" aria-hidden="true"></i>Charity Register</a></li>
							{% endif %}
						</ul>	
					</div>
					<div class="clearfix"></div>
				</div>        
			</div>		
		</div>
	</div>
    <div></div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img class="first-slide" src="{% static 'home_page/images/slideshow_01.png' %}" alt="First slide" >
			</div>
			<div class="item">
				<img class="second-slide " src="{% static 'home_page/images/slideshow_02.jpg' %}" alt="Second slide">
			</div>
			<div class="item">
				<img class="third-slide " src="{% static 'home_page/images/slideshow_03.jpg' %}" alt="Third slide">
			</div>
		</div>	
		<div class="clearfix"> </div>
	</div>   
	<div class="search-form">
		<form action="{% url 'search' %}" method="post">
			{% csrf_token %}
			<input type="text" placeholder="Search..." value="Search..." name="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}" required="">
			<input type="submit" value="" >
		</form>
	</div>
	<div class="content-mid">
		<div class="container">	
			<div class="col-md-4 m-w3ls">
				<div class="col-md1 ">
					<a href="{% url 'comingSoon' %}">
						<img src="{% static 'home_page/images/mid-01.jpg' %}" class="img-responsive img" alt="">
						<div class="big-sa">
							<h6>Coming Soon...</h6>
							<h3>Free<span> Services</span></h3>
							<p>description</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-4 m-w3ls1">
				<div class="col-md ">
					<a href="{% url 'products-page' %}">
						<img src="{% static 'home_page/images/mid-03.jpg' %}" class="img-responsive img" alt="">
						<div class="big-sale">
							<div class="big-sale1">
								<h3>Pro<span>ducts</span></h3>
								<p>description</p>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-4 m-w3ls">
				<div class="col-md2 ">
					<a href="{% url 'voluntary_work-page' %}">
						<img src="{% static 'home_page/images/mid-02.jpg' %}" class="img-responsive img1" alt="">
						<div class="big-sale2">
							<h3><span>Voluntary</span> Works</h3>
							<p>description</p>		
						</div>
					</a>
				</div>
				<div class="col-md3 ">
					<a href="{% url 'all-charity' %}">
						<img src="{% static 'home_page/images/mid-04.jpg' %}" class="img-responsive img1" alt="">
						<div class="big-sale3">
							<h3>Chari<span>ties</span></h3>
							<p>description</p>
						</div>
					</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="product">
		<div class="container">
			<div class="spec ">
				<h3>New Products</h3>
				<div class="ser-t">
					<b></b>
					<span><i></i></span>
					<b class="line"></b>
				</div>
			</div>
			<div>
				{% if products %}
					<div class="container">
						{% for product in products %}
						<div class=" con-w3l agileinf">
							<div class="col-md-3 pro-1">
								<div class="col-m my-shadow">
									<img src="{{ product.image.image.url }}" class="img-responsive" alt="{{ product.name }}">							
									<div class="mid-1">
										<div class="women">
											<h6><a href="{% url 'productsProfilePage' productId=product.id %}">{{ product.name }}</a></h6>							
										</div>
										<div class="mid-2">
											<p ><em class="item-description-1">${{ product.price }}</em></p>
											<div class="clearfix"></div>
										</div>
										<div class="add">
                                            {% if user.is_authenticated %}
												<button onclick="location.href='{% url 'addCart' PId=product.id %}'" class="btn btn-danger my-cart-btn my-cart-b" data-id="24" data-name="{{ product.name }}" data-price="{{ product.price }}" data-quantity="1" data-image="{{ product.image.image.url }}">Add to Cart</button>
                                            {% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
			
		</div>
	</div>
	<div class="product">
		<div class="container">
			<div class="spec ">
				<h3>New Voluntary Work</h3>
				<div class="ser-t">
					<b></b>
					<span><i></i></span>
					<b class="line"></b>
				</div>
			</div>
			<div>
				{% if voluntaryWorks %}
					<div class="container">
						{% for voluntaryWork in voluntaryWorks %}
						<div class=" con-w3l agileinf">
							<div class="col-md-4 pro-1">
								<div class="col-m my-shadow">
									<img src="{{ voluntaryWork.image.image.url }}" class="img-responsive" alt="{{ voluntaryWork.name }}">							
									<div class="mid-4">
										<div class="women">
											<h6><a href="{% url 'VWProfilePage' VWId=voluntaryWork.id  %}">{{ voluntaryWork.name }}</a></h6>							
										</div>
										<div class="mid-3">
											<p><em class="item-description-2">{{ voluntaryWork.description }}</em></p>
											<div class="clearfix"></div>
										</div>
										<div class="add">
                                            {% if user.is_authenticated and voluntaryWork.volunteers is None %}
											    <button class="btn btn-danger my-cart-btn my-cart-b" data-id="24" data-name="{{ voluntaryWork.name }}">Sign Up</button>
                                            {% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	</div> 
    <div class="footer">
        <div class="container">
            <div class="col-md-3 footer-grid">
                <h3>About Us</h3>
                <p>This project is basically an online charity store. 
                    Children and people in need can give their handmade crafts 
                    to the nearest charity in their neighborhood so the charity 
                    can sell their products on the website.
                    Another part of our project is voluntary work</p>
            </div>
            <div class="col-md-3 footer-grid">
                <h3>Menu</h3>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li><a href="voluntary_works.html">Voluntary Works</a></li>
                    <li><a href="free_services.html">Free Services</a></li>						 
                    <li><a href="charities.html">Charities</a></li> 
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h3>My Account</h3>
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'Charity_profile_page' %}">Profile</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {%else%}
                        <li><a href="{% url 'user_login-page' %}">Login</a></li>
                        <li><a href="{% url 'user_register-page' %}">Register as user</a></li>
                        <li><a href="{% url 'charity_register-page' %}">Register as charity</a></li>
                        <li><a href="cart.html">Cart</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h3>Contact Us</h3>
                <ul>
                    <li><p>Tel: 09022228837</p></li>
                    <li><p>Email: onlinecharity@gmail.com</p></li>
                    <li><p>Address: Iran, Tehran, Narmak, Farjam Ave, IUST</p></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="copy-right">
                <p> &copy; 2019 Donation Connection. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> Team</a></p>
            </div>
        </div>
    </div>

    <!--for bootstrap working-->
	<script src="{% static 'home_page/js/bootstrap.js' %}"></script>
	<!--for bootstrap working-->
	<script type='text/javascript' src="{% static 'home_page/js/jquery.mycart.js' %}"></script>
	<script type="text/javascript">
	$(function () {

	var goToCartIcon = function($addTocartBtn){
	var $cartIcon = $(".my-cart-icon");
	var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({"position": "fixed", "z-index": "999"});
	$addTocartBtn.prepend($image);
	var position = $cartIcon.position();
	$image.animate({
	top: position.top,
	left: position.left
	}, 500 , "linear", function() {
	$image.remove();
	});
	}

	$('.my-cart-btn').myCart({
	classCartIcon: 'my-cart-icon',
	classCartBadge: 'my-cart-badge',
	affixCartIcon: true,
	checkoutCart: function(products) {
	$.each(products, function(){
		console.log(this);
	});
	},
	clickOnAddToCart: function($addTocart){
	goToCartIcon($addTocart);
	},
	getDiscountPrice: function(products) {
	var total = 0;
	$.each(products, function(){
		total += this.quantity * this.price;
	});
	return total * 1;
	}
	});
	});
	</script>
</body>