{% load static %}
<!DOCTYPE html>
<html>

<head>
    {%if title%}
    <title>Django Blog - {{ title }}</title>
    {% else %}
    <title>Django Blog</title>
    {% endif %}
    
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8" />
<meta name="keywords" content="donation connection, charity, donate, voluntary work, online shopping, voluntary, giving, poor people" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'home_page/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{% static 'home_page/css/style.css' %}" rel='stylesheet' type='text/css' />
<!-- js -->
<script src="{% static 'home_page/js/jquery-1.11.1.min.js' %}"></script>
<!-- //js -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'home_page/js/move-top.js' %} "></script>
<script type="text/javascript" src="{% static 'home_page/js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<link href="{% static 'home_page/css/font-awesome.css' %}" rel="stylesheet"> 
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>

</head>

<body>
	<div class="my-header">
		<div class="container" style="width: auto;">
			<div class="img-responsive my-card my-logo">
				<img src="{% static 'home_page/images/new_logo.png' %}">
				<h1><a href="{% url 'home-page' %}">Donation Connection</a></h1>
				<ul>
					<li><a href="{% url 'home-page' %}">Home</a></li>
					{% if user.is_authenticated %}
						{% if user.Is_charity %}
							<li><a href="{% url 'Charity_profile_page' %}">Profile</a></li>
						{% else %}
							<li><a href="{% url 'user-costomer-profile' %}">Profile</a></li>
						{% endif %}
						<li><a href="{% url 'logout' %}"></i>Logout</a></li>
					{%else%}
					<li><a href="{% url 'products-page' %}">Products</a></li>
					<li><a href="{% url 'voluntary_work-page' %}">Voluntary Works</a></li>
					<li><a href="{% url 'all-charity' %}">Charities</a></li>
					<li><a href="{% url 'user_login-page' %}">Login</a></li>
					{% endif %}
				</ul>
			</div>
		</div>        
	</div>
	<div class="product">
		<div class="container">
			<div class="spec ">
				<h3>Charities</h3>
				<div class="ser-t">
					<b></b>
					<span><i></i></span>
					<b class="line"></b>
				</div>
			</div>
			<div>
		{% if users %}
			<div class="container">
				{% for charity in users %}
				<div class=" con-w3l agileinf">
					<div class="col-md-3 pro-1">
						<div class="col-m my-shadow">
							<a href="{% url 'Charity_profile_page_2' charity_id=charity.id %}"><img src="{{ charity.user.ProfileImage.url }}" class="img-responsive" alt="{{ charity.name }}"></a>
							<div class="mid-1">
								<div class="women">
									<h6><a href="single.html">{{ charity.user.fullName }}</a></h6>
								</div>
								<div class="mid-2">
									<p ><em class="item-description-1">{{ charity.user.description }}</em></p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	</div>
	</div>
	<div class="product">
		<div class="container">
			<div class="spec ">
				<h3>Products</h3>
				<div class="ser-t">
					<b></b>
					<span><i></i></span>
					<b class="line"></b>
				</div>
			</div>
			<div>
				{% if products %}
					<div class="container">
						{% for product in products %}
						<div class=" con-w3l agileinf">
							<div class="col-md-3 pro-1">
								<div class="col-m my-shadow">
									<img src="{{ product.image.image.url }}" class="img-responsive" alt="{{ product.name }}">
									<div class="mid-1">
										<div class="women">
											<h6><a href="single.html">{{ product.name }}</a></h6>
										</div>
										<div class="mid-2">
											<p ><em class="item-description-1">${{ product.price }}</em></p>
											<div class="clearfix"></div>
										</div>
										<div class="add">
                                            {% if user.is_authenticated %}
											<button onclick="location.href='{% url 'addCart' PId=product.id %}'" class="btn btn-danger my-cart-btn my-cart-b" data-id="24" data-name="{{ product.name }}" data-price="{{ product.price }}" data-quantity="1" data-image="{{ product.image.image.url }}">Add to Cart</button>
                                            {% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="product">
		<div class="container">
			<div class="spec ">
				<h3>Voluntary Works</h3>
				<div class="ser-t">
					<b></b>
					<span><i></i></span>
					<b class="line"></b>
				</div>
			</div>
			<div>
				{% if voluntaryWorks %}
					<div class="container">
						{% for voluntaryWork in voluntaryWorks %}
						<div class=" con-w3l agileinf">
							<div class="col-md-4 pro-1">
								<div class="col-m my-shadow">
									<img src="{{ voluntaryWork.image.image.url }}" class="img-responsive" alt="{{ voluntaryWork.name }}">
									<div class="mid-4">
										<div class="women">
											<h6><a href="single.html">{{ voluntaryWork.name }}</a></h6>
										</div>
										<div class="mid-3">
											<p><em class="item-description-2">{{ voluntaryWork.description }}</em></p>
											<div class="clearfix"></div>
										</div>
										<div class="add">
                                            {% if user.is_authenticated and voluntaryWork.volunteers is None %}
											<button class="btn btn-danger my-cart-btn my-cart-b" data-id="24" data-name="{{ voluntaryWork.name }}">Sign Up</button>
                                            {% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="col-md-3 footer-grid">
				<h3>About Us</h3>
				<p>This project is basically an online charity store. 
					Children and people in need can give their handmade crafts 
					to the nearest charity in their neighborhood so the charity 
					can sell their products on the website.
					Another part of our project is voluntary work</p>
			</div>
			<div class="col-md-3 footer-grid">
				<h3>Menu</h3>
				<ul>
					<li><a href="home.html">Home</a></li>
					<li><a href="products.html">Products</a></li>
					<li><a href="voluntary_works.html">Voluntary Works</a></li>
					<li><a href="free_services.html">Free Services</a></li>						 
					<li><a href="charities.html">Charities</a></li> 
					<li><a href="contact.html">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-grid">
				<h3>My Account</h3>
				<ul>
					{% if user.is_authenticated %}
						<li><a href="{% url 'Charity_profile_page' %}">Profile</a></li>
						<li><a href="{% url 'logout' %}">Logout</a></li>
					{%else%}
						<li><a href="{% url 'user_login-page' %}">Login</a></li>
						<li><a href="{% url 'user_register-page' %}">Register as user</a></li>
						<li><a href="{% url 'charity_register-page' %}">Register as charity</a></li>
						<li><a href="cart.html">Cart</a></li>
					{% endif %}
				</ul>
			</div>
			<div class="col-md-3 footer-grid">
				<h3>Contact Us</h3>
				<ul>
					<li><p>Tel: 09022228837</p></li>
					<li><p>Email: onlinecharity@gmail.com</p></li>
					<li><p>Address: Iran, Tehran, Narmak, Farjam Ave, IUST</p></li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<div class="copy-right">
				<p> &copy; 2019 Donation Connection. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> Team</a></p>
			</div>
		</div>
	</div>
</body>